<?xml version="1.0" encoding="UTF-8"?>

<web-app>
      
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.jfsd_lab.exp_6.controller.DashboardServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/dashboard</url-pattern>
</servlet-mapping>
	
</web-app>


